@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700');

/* GLOBAL STYLES */
*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;	
}

:root{
	--bg:rgb(255, 255, 255);
	--nao-metal:rgb(180, 210, 100);
	--gas-nobre:hsl(202, 68%, 64%);
	--metal-alcalino:rgb(245,200,100);
	--metal-alcalino-terroso:rgb(240,230,90);
	--semimetal:rgb(110,200,190);
	--halogenio:rgb(170,225,255);
	--outros-metais:rgb(190,210,210);
	--metal-transicao:rgb(245,175,175);
	--lantanideo:rgb(150,225,225);
	--actinidio:rgb(230,190,220);
}

.teste {

	color: hsla(202, 68%, 64%, 0.315);
}


body{
	font:1em/1 'Montserrat', sans-serif;
	/* color:rgb(255,255,255); */
	text-align:center;
	padding:1em 5%;
	background:var(--bg);	
}

/* FOREGROUND COLOR VARIABLES */
.nao-metal{
	color:var(--nao-metal);
}
	
.gas-nobre{
	color:var(--gas-nobre);
}

.metal-alcalino{
	color:var(--metal-alcalino);
}
	
.metal-alcalino-terroso{
	color:var(--metal-alcalino-terroso);
}
	
.semimetal{
	color:var(--semimetal);
}
	
.halogenio{
	color:var(--halogenio);
}
	
.outros-metais{
	color:var(--outros-metais);
}
	
.metal-transicao{
	color:var(--metal-transicao);
}
	
.lantanideo{
	color:var(--lantanideo);
}
	
.actinidio{
	color:var(--actinidio);
}

/* TYPOGRAPHY STYLES */
h1{
	margin:.5em 0;
	font-size:3rem;
	font-weight:100;
	text-transform:uppercase;
	letter-spacing:-.05em;
}

h2{
	font-size:2em;
}

p:last-child{
	font-size:.8em;	
}

/* GRID CONTAINER STYLES */
main{
	margin:auto;
	max-width:45em;
	display:flex;
}

#grid-container{
	flex-grow:1;
	min-width:7em;	
}

.col-hidden{
	display:none;	
}


/* GRID CELL */
section{
	height:7em;
	background:#ffffffe7;	
	border:.125rem solid;
	border-radius:.25rem;	
	line-height:1.25;
	margin-bottom:.5em;
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

span{
	font-size:.75em;
	position:absolute;
	top:.3em;
	left:.5em;	
}


/* SUBTITLES */
.subtitles{
	font-size:.9em;
	text-align:left;	
	flex-basis:13.5rem;
	margin:-.25em 0 0 1em;
}

ul{
	display:flex;
	flex-wrap:wrap;
  position:sticky;
  top:1em;
}

li{
	flex-basis:100%;
	line-height:1.25;
	margin-bottom:1em;
	cursor: pointer;	
}

/* TODO: */
/* li:hover {
	diminuir o brilho e tentar colocar uma animação quando clicar no botão content do a (valor de baixo)
} */

a:before{
	content:' ';
	display:inline-block;
	width:1em;
	height:1em;
	border:.125em solid;
	border-radius:.125rem;	
	margin-right:.5em;
	position:relative;
	top:.25em;
}



@media only screen and (min-width:92.5em){
	@supports (display:grid){
		
		/* GLOBAL STYLES */
		
		body{
			font-size:.65em;
			padding:2em;	
		}
		
		
		/* GRID CONTAINER STYLES */
	
		main{
			max-width:130.5em;
			display:block;
		}
		
		#grid-container{
			display:grid;
			grid-template-columns:repeat(18, 7em);
			grid-gap:.25em;	
		}
			
		.col-span16{
			grid-column:span 16;
		}
			
		.col-span10{
			grid-column:span 10;
		}
			
		.col-span3{
			grid-column:span 3;
		}
			
		.col-hidden{
			display:block;
			visibility:hidden;
		}
			
		
		/* GRID CELL */
		
		section{
			margin:0;
		}
			
		section:hover{
			transition:.2s;
			transform:scale(1.6);
			cursor:pointer;
			z-index:2;
		}
		
		
		/* SUBTITLES */
	
		.subtitles{
			font-size:1.1em;
			width:100%;
			margin:2em 0;
		}
		
		ul{
			justify-content:center;
		}
		
		li{
			flex-basis:auto;
			margin-bottom:0;	
		}
		
		li + li{
			margin-left:2em;	
		}	
	}
}

@media only screen and (min-width:102.5em){
	/* GLOBAL STYLES */
		
		body{
			font-size:.75em;	
		}	
}